extends layout

block content
    .w3-card-4
    header.w3-container.w3-blue
      h1 Página de eliminação de uma Notícia
        .w3-right
            a.w3-margin.w3-large(href="/home") Home
              img.w3-margin(src="/images/home.png" alt="home icon" width="40" height="40")
            a.w3-margin.w3-large(href="/resources") Recursos
              img.w3-margin(src="/images/resources.png" alt="resources icon" width="40" height="40")
            a.w3-margin.w3-large(href="/profile") Perfil
              img.w3-margin(src="/images/profile.png" alt="profile icon" width="40" height="40")
            a.w3-margin.w3-large(href="/logout") Logout  
              img.w3-margin(src="/images/logout.png" alt="logout icon" width="40" height="40")

    .w3-container
        ul.w3-ul 
            li #[b Utilizador: ] #{n.username}
            li #[b Nome do Recurso: ] #{n.resourceName}
            li #[b Evento: ] #{n.event}
            li #[b Data: ] #{n.date}
        center
            h2 Tem a certeza que quer remover esta Notícia?
            button.w3-btn.w3-round.w3-green.w3-margin
                a(href="/news/delete/" + n._id + "/confirm") Confirmar 
            button.w3-btn.w3-round.w3-red.w3-margin
                a(href="/home") Cancelar
                
    footer.w3-container.w3-blue
      address Generated in PGDRE at #{d} #[a#home(href="/home") Go back to home!]