extends layout

block content
  .w3-card-4
    header.w3-container.w3-blue
      h1 Formulário de edição de perfil
        .w3-right
          a.w3-margin.w3-large(href="/home") Home
            img.w3-margin(src="/images/home.png" alt="home icon" width="40" height="40")
          a.w3-margin.w3-large(href="/resources") Recursos
            img.w3-margin(src="/images/resources.png" alt="resources icon" width="40" height="40")
          a.w3-margin.w3-large(href="/profile") Perfil
            img.w3-margin(src="/images/profile.png" alt="profile icon" width="40" height="40")
          a.w3-margin.w3-large(href="/logout") Logout  
            img.w3-margin(src="/images/logout.png" alt="logout icon" width="40" height="40")

    .w3-container  
      form.w3-container(action="/profile/edit" method="POST")
        fieldset
          legend Não editáveis:
          label Nome de utilizador
          input.w3-input(type="text" name="username" value=u.username readonly)
          label Nível
          input.w3-input(type="text" name="level" value=u.level readonly)
          label Data de criação
          input.w3-input(type="text" name="dateCreated" value=u.dateCreated readonly)
          label Último acesso
          input.w3-input(type="text" name="lastAccess" value=u.lastAccess readonly)
          label Activo
          if u.active
            input.w3-input(type="text" name="active" value="Sim" readonly)
          else 
            input.w3-input(type="text" name="active" value="Não" readonly)

        fieldset  
          legend Editáveis:
          label Email
          input.w3-input.w3-border.w3-round.w3-light-grey(type="text" name="email" value=u.email)
          label Nome
          input.w3-input.w3-border.w3-round.w3-light-grey(type="text" name="name" value=u.name) 

        input.w3-btn.w3-green.w3-margin(type="submit" value="Editar Perfil!")
        button.w3-btn.w3-round.w3-red.w3-margin
          a(href="/profile") Cancelar 

    footer.w3-container.w3-blue
      address Generated in PGDRE at #{d} #[a#home(href="/home") Go back to home!]