extends layout

block content
  .w3-card-4
    header.w3-container.w3-blue
      h1 Formulário de edição de um Post
        .w3-right
          a.w3-margin.w3-large(href="/home") Home
            img.w3-margin(src="/images/home.png" alt="home icon" width="40" height="40")
          a.w3-margin.w3-large(href="/resources") Recursos
            img.w3-margin(src="/images/resources.png" alt="resources icon" width="40" height="40")
          a.w3-margin.w3-large(href="/profile") Perfil
            img.w3-margin(src="/images/profile.png" alt="profile icon" width="40" height="40")
          a.w3-margin.w3-large(href="/logout") Logout  
            img.w3-margin(src="/images/logout.png" alt="logout icon" width="40" height="40")

    .w3-container  
      form.w3-container(action="/resources/" + p.resourceName + "/posts/" + p._id + "/edit" method="POST")
        fieldset
          legend Não editáveis:
          label Nome do Recurso 
          input.w3-input(type="text" name="resourceName" value=p.resourceName readonly)
          label Utilizador
          input.w3-input(type="text" name="username" value=p.username readonly)
          label Gostos 
          input.w3-input(type="text" name="likes" value=p.liked_by.length readonly)
          label Data 
          input.w3-input(type="text" name="date" value=p.date readonly)
          label Visibilidade 
          input.w3-input(type="text" name="visibility" value=p.visibility readonly)

        fieldset  
          legend Editáveis:
          label Título
          input.w3-input.w3-border.w3-round.w3-light-grey(type="text" name="title" value=p.title)
          label Descrição
          input.w3-input.w3-border.w3-round.w3-light-grey(type="text" name="description" value=p.description)
        
        input.w3-btn.w3-green.w3-margin(type="submit" value="Editar Post!")
        button.w3-btn.w3-round.w3-red.w3-margin
          a(href="/resources/" + p.resourceName + "/posts/" + p._id) Cancelar 

    footer.w3-container.w3-blue
      address Generated in PGDRE at #{d} #[a#home(href="/home") Go back to home!]