extends layout

block content
    .modal(id="display")
    .w3-card-4
    header.w3-container.w3-blue
      h1 Post: #{p.title}
       .w3-right
          a.w3-margin.w3-large(href="/home") Home
            img.w3-margin(src="/images/home.png" alt="home icon" width="40" height="40")
          a.w3-margin.w3-large(href="/resources") Recursos
            img.w3-margin(src="/images/resources.png" alt="resources icon" width="40" height="40")
          a.w3-margin.w3-large(href="/profile") Perfil
            img.w3-margin(src="/images/profile.png" alt="profile icon" width="40" height="40")
          a.w3-margin.w3-large(href="/logout") Logout  
            img.w3-margin(src="/images/logout.png" alt="logout icon" width="40" height="40")

    .w3-container
        ul.w3-ul 
            li #[b Title: ] #{p.title}
            li #[b Resource Name: ] #{p.resourceName}
            li #[b Utilizador: ] #{p.username} 
            li #[b Description: ] #{p.description}
            li #[b Gostos: ] #{p.liked_by.length}
            li #[b Data: ] #{p.date}
            li #[b Operations: ] 
              - if (p.liked_by.includes(u.username))
                a(href="/resources/" + p.resourceName + "/posts/" + p._id + "/unlike")
                  img.w3-round-large.w3-margin(src="/images/like.png" alt="like icon" width="30" height="30")
              - else
                a(href="/resources/" + p.resourceName + "/posts/" + p._id + "/like")
                  img.w3-round-large.w3-margin(src="/images/unlike.png" alt="unlike icon" width="30" height="30")
              if u.level == "admin" || u.username == p.username
                a(href="/resources/" + p.resourceName + "/posts/" + p._id + "/edit")
                  img.w3-round-large.w3-margin(src="/images/edit.png" alt="edit icon" width="30" height="30")
                a(href="/resources/" + p.resourceName + "/posts/" + p._id + "/delete")
                  img.w3-round-large.w3-margin(src="/images/delete.png" alt="delete icon" width="30" height="30")

              button#cancel.w3-btn.w3-round.w3-red.w3-margin
                a(href="/resources/" + p.resourceName) Voltar aos detalhes do recurso
            
            .w3-card-4
            header.w3-container.w3-purple
                h1 Comentários #[a(href="/resources/" + p.resourceName + "/posts/" + p._id + "/comments/add") #[img.w3-margin(src="/images/add.png" alt="add icon" width="30" height="30")]]

            .w3-container
                table.w3-table-all
                  tr 
                      th Utilizador
                      th Título
                      th Descrição
                      th Data
                      th Operações
                  each c in p.comments 
                      tr
                        td(onclick='showComment(\"' + p.resourceName + '\", \"' + p._id + '\", \"' + c.username + '\", \"' + c.title + '\", \"' + c.description + '\", \"' + c.date + '\")')= c.username
                        td(onclick='showComment(\"' + p.resourceName + '\", \"' + p._id + '\", \"' + c.username + '\", \"' + c.title + '\", \"' + c.description + '\", \"' + c.date + '\")')= c.title
                        td(onclick='showComment(\"' + p.resourceName + '\", \"' + p._id + '\", \"' + c.username + '\", \"' + c.title + '\", \"' + c.description + '\", \"' + c.date + '\")')= c.description
                        td(onclick='showComment(\"' + p.resourceName + '\", \"' + p._id + '\", \"' + c.username + '\", \"' + c.title + '\", \"' + c.description + '\", \"' + c.date + '\")')= c.date
                        if u.level == "admin" || u.username == c.username
                          td
                            a(href="/resources/" + p.resourceName + "/posts/" + p._id + "/comments/" + c._id + "/delete")
                              img.w3-round-large(src="/images/delete.png" alt="delete icon" width="30" height="30")
                        else 
                          td Indisponível!

    footer.w3-container.w3-blue
      address Generated in PGDRE at #{d} #[a#home(href="/home") Go back to home!]