extends layout

block content
    .modal(id="display")
    .w3-card-4
    header.w3-container.w3-blue
      if u.profilePic != undefined
        h1 Perfil #[img(src="/profilePics/" + u.level + "/" + u.profilePic alt="profile picture" height="50" width="50" onclick='showProfilePic(\"' + u.level + '\", \"' + u.profilePic + '\")')]
          .w3-right
            a.w3-margin.w3-large(href="/home") Home
              img.w3-margin(src="/images/home.png" alt="home icon" width="40" height="40")
            a.w3-margin.w3-large(href="/resources") Recursos
              img.w3-margin(src="/images/resources.png" alt="resources icon" width="40" height="40")
            a.w3-margin.w3-large(href="/profile") Perfil
              img.w3-margin(src="/images/profile.png" alt="profile icon" width="40" height="40")
            a.w3-margin.w3-large(href="/logout") Logout  
              img.w3-margin(src="/images/logout.png" alt="logout icon" width="40" height="40")
      else 
        h1 Perfil #[img(src="/images/profile.png" alt="profile icon" height="50" width="50" onclick='showProfilePic(\"' + u.level + '\", \"profile.png\")')]
          .w3-right
            a.w3-margin.w3-large(href="/home") Home
              img.w3-margin(src="/images/home.png" alt="home icon" width="40" height="40")
            a.w3-margin.w3-large(href="/resources") Recursos
              img.w3-margin(src="/images/resources.png" alt="resources icon" width="40" height="40")
            a.w3-margin.w3-large(href="/profile") Perfil
              img.w3-margin(src="/images/profile.png" alt="profile icon" width="40" height="40")
            a.w3-margin.w3-large(href="/logout") Logout  
              img.w3-margin(src="/images/logout.png" alt="logout icon" width="40" height="40")

    .w3-container  
      if u
        ul.w3-ul
          li #[b Nome:] #{u.name}
          li #[b Email:] #{u.email}
          li #[b Nome de Utilizador:] #{u.username} 
          li #[b Nível:] #{u.level}
          if u.active == true 
            li #[b Ativo: ] Sim
          else 
            li #[b Ativo: ] Não
          li #[b Data de criação de perfil: ] #{u.dateCreated} 
          li #[b Data de último acesso à plataforma: ] #{u.lastAccess} 
          li #[b Operações: ]
            ul.w3-ul
              li
                a(href="/profile/edit") Editar Perfil
                  img.w3-round-large.w3-margin-rigth.w3-margin-left(src="/images/edit.png" alt="edit icon" width="30" height="30")
              li 
                a(href="/profile/profilePic") Adicionar uma Foto de Perfil
                  img.w3-round-large.w3-margin-rigth.w3-margin-left(src="/images/user.png" alt="user icon" width="30" height="30")
              if u.active == true && u.level != "admin"
                li 
                  a(href="/profile/deactivate") Desativar Conta
                    img.w3-round-large.w3-margin-rigth.w3-margin-left(src="/images/deactivate.png" alt="deactivate icon" width="30" height="30") 
              if u.level == "admin" 
                li
                  a(href="/profile/deactivate/admin") Desativar uma Conta 
                    img.w3-round-large.w3-margin-rigth.w3-margin-left(src="/images/deactivate.png" alt="deactivate icon" width="30" height="30")
                li 
                  a(href="/profile/activate") Ativar uma Conta
                    img.w3-round-large.w3-margin-rigth.w3-margin-left(src="/images/activate.png" alt="activate icon" width="30" height="30")
                li 
                  a(href="/register") Adicionar utilizador 
                    img.w3-round-large.w3-margin-rigth.w3-margin-left(src="/images/add.png" alt="add icon" width="30" height="30")
                li 
                  a(href="/profile/admin/investigate") Investigar um utilizador 
                    img.w3-round-large.w3-margin-rigth.w3-margin-left(src="/images/search.png" alt="search icon" width="30" height="30")
      else 
        p Sem informações a apresentar!

    footer.w3-container.w3-blue
      address Generated in PGDRE at #{d} #[a#home(href="/home") Go back to home!]